@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    margin: 0px;
    padding: 0px;
    background-color: #28262e;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;

}
*{
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
.all-content{
    background: #979695;
}
::-webkite-scrollbar{
width: 10px;
}
::-webkite-scrollbar-traces{
    box-shadow: inset 0 0 5px gray;
}
::-webkite-scrollbar-thumb{
    background: #c23843;
    border-radius: 10px;
}
::-webkite-scrollbar-thumb-:hover{
    background: #b30000;
}


.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.col-div-3{
    width: 25%;
    float: left;
}
.col-div-6{
    width: 50%;
    float: left;
   
}
.clearfix{
    clear: both;
}





#navbar{
    background-color: #b2744c;
  
}
#logo img{
    border-radius: 10px;
    width: 160px;
    height: 100px;
    margin-left: 40px;
}

.navbar.nav{
    margin-left: 50px;
}
.nav-item{
    margin-left: 40px;
}
.nav-item .nav-link{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}
.nav-item .nav-link:hover{
    background: #f7f5f2;
    border-radius: 5px;
    color: black;
}
#navbar form button{
    background: black;
    color: white;
    border: 1px solid;
}



/* home starts */
#home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(img/front.jpg);
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 88%;
}
#home .content{
    padding-top: 220px;
    margin-left: 56px;
}
#home .content h3{
    font-size: 65px;
    color: transparent;
    text-align: center;
}
#home .content h3{
    animation: img 1.2s  ease-in-out infinite alternate;
    position: absolute;
    left: 0;
    right: 0;

    
}

@keyframes img  {
    0%{transform: translateY(0);}
    100%{transform: translateY(20px);
      
    }

}
h3{
    -webkit-text-stroke: 1.2px rgb(250, 247, 247);
    color: transparent;
    font-weight: 500;
}

#home .content p{
    margin-top: 100px;
    color: white;
    font-size: 50px;
    text-align: center;
}
#btn{
  
    margin-top: 25px;
    font-size: 17px;
    padding: 10px 30px;
     background: transparent;
    cursor: pointer; 
    text-transform: uppercase;
     background-color: #a19d9d;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid #e6e3e3;
    transition: 0.4s;
}
#btn:hover{
    background: #b2744c;
    color: white;
}

@media only screen and (max-width: 1100px){
    #home{
        width: 100%;
        font-size: 30px;
    }
    #btn{
        font-size: 15px;
         padding: 8px 25px;
    }
    #home .content p{
        font-size: 30px;
        margin-top: 170px;
        
    }
}


/* home ends */


.sec1{
    width: 100%;
    height: 85vh;
   
}


.contain{
    position: absolute;
    top: 1300px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0px 30px 50px #dbdbdb;
}
.contain .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0px 30px 50px #505050;
    background-position: 50%, 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}
.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}


/* here n = 0, 1, 2, 3, 4, ..... */

.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: rgb(10, 9, 9);
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}
.slide .item:nth-child(2) .content{
    display: block;
}
.content .name{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: boold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}
.content .name:hover{
    font-size: 21px;
    color: rgb(253, 166, 3);
}
.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}
.content .des:hover{
    font-size: 21px;
    color: rgb(252, 165, 3);
}
.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #851313;
    border-radius: 5px;
    color: #000;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}





.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}
.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid#000;
    transition: 0.3s;
}

.button button:hover{
    background: hwb(0 16% 75%);
    color: #fff;
}

@media only screen and (max-width: 1100px){
    .sec1{
        display: none;
    }
}



.ing{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;

}
.ing h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.ing h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: red;

}
.ing p{
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px;
}
.count{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;

}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
} 
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #b2744c;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.about-content .read-more:hover{
    background-color: #b2744c;
}


@media screen and (max-width:768px){
    .ing{
        padding: 0px 20px;
    }
    .ing h1{
        font-size: 36px;
    }
    .ing p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .count{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more{
        font-size: 16px;
    }
}





/* about section ends */
/* services starts */
#service{
    width: 100%;
    margin-top: 60px;
}
.heading3{
    text-align: center;
    font-size: 30px;
    color: #b2744c;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
}
.heading3:hover{
    color: #fff;
}
#container2{
    margin-top: 50px;
}
#service .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.star i{
    color: #b2744c;
}
#service h3{
    text-align: center;
    color: #c23843;
    margin-top: 10px;
    font-size: 25px;
}
#service p{
    font-size: 16px;
    color: #921515;
    padding-top: 10px;
}
#service p span{
    float: right;
    cursor: pointer;
}





#feature{
    text-align: center;
    background: url(assets/nn.jpg!w700wp);
    height: 90vh;
    background-size: cover;
    padding-top: 15%;
    margin-top: -72px;
    background-position: top;
  
}
.h2{
    color: #c23843;
    font-size: 22px;
    font-weight: 300;
    margin-top: -20px;
}
.p2{
    color: #dcdada;
    font-size: 13px;
    letter-spacing: 0.8;
    width: 666px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.hr{
    height: 3px;
    background: #c23843;
    border: none;
    width: 100px;
    margin-top: -5px;
    margin-bottom: 25px;
}
.box{
    background: #2f2e33;
    height: 250px;
    width: 240px;
    padding: 10px;

}
.box:hover{
    background-color: white;
    color: #000;
    transform: scale(1.25);
    box-shadow: 0px 16px 32px black;

}
.h3{
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.p3{
    color: #dcdada;
    font-size: 13px;
    letter-spacing: 0.6px;
}
.p3:hover{
    color: #000;
}
.fa{
    font-size: 50px !important;
    color: #c23843;
    padding-top: 25px;
}
 
@media only screen and (max-width: 1263px){
    #feature{
        height: 175vh;
    }
}
.section-4{
    text-align: center;
    background: url(assets/jj.avif);
    height: 80vh;
    background-size: cover;
    margin-top: 80px;
    padding-top: 150px;
}
.h3{
    color: rgb(167, 54, 54);
   font-size: 40px;
    font-weight: bold;
}


.p4{
    color: #fff;
    letter-spacing: 0.8px;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
}
.pro-ul li{
list-style: none;
float: left;
color: rgb(12, 11, 11);
position: relative;
width: 264px;
text-align: left;
}
.no{
    font-size: 60px;
    font-weight: bold;
    color: #c23843;
    margin: 0 auto;
   
  
}
.head{
    position: absolute;
    top: 18px;
    text-align: left;
    left: 80px;
    font-weight: bold;
    letter-spacing: 1.8px;
    /* font-size: 25px; */
}



/* produts starts */

#product{
    width: 100%;
    margin-top: 60px;
}
.heading4{
    text-align: center;
    font-size: 30px;
    color: #b2744c;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
}
.heading4:hover{
    color: #fff;
}
#container2{
    margin-top: 50px;
}
#product .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.star i{
    color: #b2744c;
}
#product h3{
    text-align: center;
    color: #c23843;
    margin-top: 10px;
    font-size: 25px;
}
#product p{
    font-size: 16px;
    color: #851313;
    padding-top: 10px;
}
#product p span{
    float: right;
    cursor: pointer;
}

/* products ends */

.sec-5{
    position: relative;
}
.right{
    width: 50%;
    float: left;
    height: 500px;
    background: #cb3541;
}
.content{
    padding: 50px;
    color: white;
}
.c-p1{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
.c-p2{
    line-height: 25px;
    letter-spacing: 0.8px;
}
.right::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: #cb3541;
    right: 47%;
    top: 165px;
    transform: rotate(45deg);
}
.left{
    width: 50%;
    float: left;
    height: 500px;
    background: url(assets/our.avif);
    background-size: cover;
}
footer{
    padding-top: 50px;
}
h4{
    color: #cb3541;
}
.foot-p{
    color: #ccc;
    font-size: 14px;
    letter-spacing: 1px;
    width: 200px;
    line-height: 22px;
}



/* gallery section starts */

#gallery{
    width: 100%;
    height: 80vh;
    background: #f7f5f2;
  
}
.heading2{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.heading2 span{
    color: #b2744c;
}
#gallery .container{
    margin-top: 30px;
}
#gallery .card{
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
#gallery .card img{
    border-radius: 10px;
}
#gallery .card:hover{
    transform: translateY(-10px);
}


@media only screen and (max-width: 1263px){
    #gallery{
        height: 160vh;
    }
}


/* our gallery ends */



/* contact section starts */

#contact{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}
#contact .container{
    width: 100%;
    height: 80vh;
    background: linear-gradient(90deg, white 80%, #b2744c 20%);
    border-radius: 10px;
}
.heading6{
    font-size: 10px;
    font-weight: bold;
    margin-top: 70px;
}
.heading6 span{
    color: #b2744c;
}
#contact p{
     font-weight: bold;
     font-size: 13px;
     color: black;
}
#contact input{
    width: 360px;
    border: none;
    border-bottom: 1px solod #b2744c;
}
#contact-btn{
    width: 200px;
    height: 36px;
    border: none;
    background: #b2744c;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}
#col{
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
}
#contact h1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
#contact #col p{
    font-size: 15px;
    color: white;
    margin-left: 13px;
    margin-top: 30px;
}




@media screen and (max-width:766px){
    #contact .container{
        background: white;
    }
    #col{
        width: 100%;
        background: #b2b2b2;
    }
    #contact{
        height: 150vh;
    }
}

@media screen and (max-width:400px){
    #contact input{
        width: 250px;
    }
}





/* contact section ends */


/* blogs starts */

#blog{
    width: 100%;
}
#blog .heading8{
text-align: center;
font-size: 30px;
color: black;
font-weight: bold;
}
#blog .heading8:hover{
    color: #fff;
}
#blog .heading8 span{
    color: #fff;
}
#blog .heading8 span:hover{
    color: #000;
}
#blog .container{
    margin-top: 60px;
}
.card img:hover{
    transform: scale(1.05);
    box-shadow: 0 128px 256px rgb(1, 98, 131);
}
#blog h5{
    color: #b2744c;
}
#blog-btn{
    width: 200px;
    height: 36px;
    border: none;
    color: white;
    background: #b2744c;
    cursor: pointer;
}





/* blogs ends */

/* footer starts */

#footer{
    width: 100%;
    background: #b2744c;
    margin-top: 50px;
}
.footer-logo img{
    width: 180px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.footer-logo img:hover{
    transform: scale(1.25);
    box-shadow: 0 64px 128px white;
}
#footer .social-links i{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
#footer .social-links i:hover{
    background-color: #fff;
    color: #000;
    transform: scale(1.25);
    box-shadow: 16px 16px 32px black;
}
.credits{
    color: white;
    margin-top: 20px;
    text-shadow: 0px 0px 1px black;
}
.credits a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#credits a span{
    color: black;
}
.copyright span{
color: black;
} 




html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
   height: 50px;
   bottom: 40px;
   right: 50px;
   text-align: center;
   line-height: 50px;
}

/* footer ends */



















































































































































































































































































































































































































   @media only screen and (max-width: 1263px){
    .h1{font-size: 50px;}
    .section-4{
        height: 75vh;
      
    }
}

@media only screen and (max-width: 1100px)
{
 .col-div-6{
    width: 75%;
 }

 .pro-ul li{width: 50%;}
 .section-4{height: 80vh; padding-top: 65px; background-size: cover; }
}



@media only screen and (max-width: 936px)
{

.container{width: 600px; position: relative;}
.p2{width: 100%;}
.col-div-6{width: 100%;}
.col-div-3{width: 100%;}
.col-div-4{width: 100%;}
.left{width: 100%;}
.right{width: 100%;}
.right::after{display: none;}
.box{width: 97%; margin-bottom: 20px;}
.nav{background: #403f47; width: 83%; display: none;}
.get-btn{display: none;}
.nav li{float: none; text-align: center; margin-left: -50px;}
}


@media only screen and (max-width: 674px)
{

.section-4{height: 125vh; padding-top: 65px;}
.container{width: 320px;}
.pro-ul li{width: 100%;}
.c-p2{line-height: 20px; letter-spacing: 0.8px; font-size: 14px;}
.h1{font-size: 18px;}
.p4{
    font-size: 10px;
}
.section-1{
    height: 60vh;
}

}    
